@import "tailwindcss";
@theme {
  --color-primary: #1B5E20;
  --color-secondary: #2E7D32;
  --color-accent: #FB8C00;
  --color-background: #F5F7FA;
}
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.05); }
  66% { transform: translate(-20px, 20px) scale(0.95); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 18s infinite ease-in-out;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
